
<div class="container">
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/bank">Bank</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assurence">Assurence</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rent">Rent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buy" tabindex="-1" aria-disabled="true">Buy</a>
    </li>
  </ul>
  <router-outlet></router-outlet>



  <h3>with DARI you will always be informed of every and each tunisian bank with the best offer that souts you</h3>
  <div class="card" style="width: 18rem;">
    <img src="../assets/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bank name : </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">localisation: </li>
      <li class="list-group-item">offers:</li>
      <li class="list-group-item">rating:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">feedbacks</a>
      <a href="#" class="card-link">more details about this Bank</a>
    </div>
  </div>

  

  <h3>Also with DARI you will always be informed ral estate article</h3>


  <div class="card-group">
    <div class="card">
      <img src="../assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>




  <h3>want to rent , here is some of our sugestion</h3>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>



  <h3>Are you locking for assurences , DARI helps ;)</h3>
  <div class="card" style="width: 18rem;">
    <img src="../assets/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">surface: </li>
      <li class="list-group-item">nember of chmbers:</li>
      <li class="list-group-item">rating:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">feedbacks</a>
      <a href="#" class="card-link">more details about this article</a>
    </div>
  </div>


</div>
