<div class="card" style="width: 18rem;">
    <img src="../assets/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">surface: </li>
      <li class="list-group-item">nember of chmbers:</li>
      <li class="list-group-item">rating:</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">feedbacks</a>
      <a href="#" class="card-link">more details about this article</a>
    </div>
  </div>
